div {
  margin: 20px auto;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  color: #ff5722;
  border-radius: 50%;
  box-shadow: 10px 0px #ff5722, -10px 0px #03a9f4;
  /* animation-timing-function: cubic-bezier(0.59, 1.23, 0.05, 1.01);
  animation-duration: 5s;
  animation-name: color-changer;
  animation-iteration-count: infinite; */
}
/* @keyframes color-changer {
    0%{
        box-shadow: 10px 0px #ff5722, -10px 0px #03a9f4;
        color: #ff5722;
    }
    50%{
        box-shadow: 10px 0px #03a9f4, -10px 0px #ff5722;
        color: #03a9f4;
    }
    99%{
        box-shadow: 10px 0px #ff5722, -10px 0px #03a9f4;
        color: #ff5722;
    }
    100%{
        box-shadow: 10px 0px #ff5722, -10px 0px #03a9f4;
        color: #ff5722;
    }
} */