:root{
    --main-color:#FF5722;
}
h1{
    width: 150px;
    height: 100px;
    margin: 100px auto;
    color: white;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
h1::before{
    content: "";
    width: 150px;
    height: 100px;
    background-color: var(--main-color);
    position: absolute;
    transform: skew(10deg,10deg);
    z-index: -1;
}
h1::after{
    content: "";
    width: 150px;
    height: 100px;
    background-color: var(--main-color);
    position: absolute;
    transform: skew(-10deg,-10deg);
    z-index: -1;
}